@import url(./vendor/fonts.css);
@import url(./index.css);

.kanban_title {
    font-size: 30px;
    font-weight: 800;
    color: #b7fff9;
}

.column_title {
    color: #b7fff9;
}

.kanban {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
    margin-bottom: 30px;
    background-color: #000000;
    border: 2px solid #73b0f7;
    border-radius: 5px;
}

/* COLUMNS */

.column {
    padding: 10px;
    min-width: 260px;
    min-height: 600px;
    border-radius: 5px;
    margin: 5px;
    background-color: #000000;
    border: 2px solid #73b0f7;
    width: 25%;
    justify-content: stretch;
}

.column__container {
    display: flex;
    justify-content: stretch;
}

/* TASK  */

.task {
    padding: 10px;
    min-width: 230px;
    background-color: #0072b1;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #b7fff9;
}

.task__highlight {
    background-color: rgba(255, 96, 149, 0.856);
}

.task_tittle {
    color: #000000;
    word-wrap: break-word;
}

.task_limit {
    color: #000000;
}

.task_user {
    color: #000000;
    font-size: large;
    font-weight: 500;
    word-wrap: break-word;
}

.task__header {
    display: flex;
    justify-content: center;
}

.task__delete {
    padding: 5px;
    margin-left: 230px;
    background: rgb(0 0 0 / 0%);
    border: none;
    color: #b7fff9;
    cursor: pointer;
    font-size: 1.2rem;
}

.task__delete:hover {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

h3 {
    margin: 0;
    font-weight: 600;
}

.button {
    padding: 5px;
    border: 1px solid #b7fff9;
    border-radius: 5px;
    background: rgb(0 0 0 / 0%);
    color: #b7fff9;
    cursor: pointer;
    font-size: 1.2rem;
}

.button:hover {
    opacity: 0.5;
}

.button__left {
    margin-right: 30px;
}

.button__right {
    margin-left: 30px;
}

.btn_mobile {
    display: none;
}

/* FORM */

.form {
    color: white;
    margin-top: 50px;
    min-height: 60px;
    font-weight: 700;
    background-color: #000000;
    border: 2px solid #73b0f7;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.form__container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

input {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    color: #b7fff9;
    background-color: #000000;
    border: 1px solid #73b0f7;
    font-size: 15px;
    font-weight: 600;
}

.form__submit {
    height: 35px;
    background-color: #000000;
    color: #b7fff9;
    cursor: pointer;
    box-shadow: none;
}

.form__submit:hover,
input:hover {
    opacity: 0.8;
}

::placeholder {
    color: #427c78;
}

.form__error {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    line-height: 12px;
    color: rgba(255, 96, 149, 0.856);
    min-height: 24px;
}

label {
    display: flex;
    flex-direction: column;
}

.popup {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    min-width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.popup__infotooltip {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #0072b1;
    border: 2px solid #b7fff9;
    text-align: center;
    padding: 60px 36px 60px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.popup__close-button {
    position: absolute;
    top: -40px;
    left: 435px;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url(../src/images/ClosePopup.png);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    cursor: pointer;
}

.popup__close-button:hover {
    opacity: 0.6;
}

.popup__feedback {
    margin: 0;
    width: 358px;
    margin-top: 32px;
    color: black;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    height: 40px;
}

.popup__question {
    margin: 0;
    width: 358px;
    margin: 32px auto 0;
    color: black;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    height: 40px;
}

.popup__delete {
    width: 200px;
    height: 50px;
    margin: 32px auto 0;
    background-color: #0072b1;
    border: 2px solid #73b0f7;
    color: black;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    cursor: pointer;
    box-shadow: none;
    border-radius: 5px;
}

.popup__delete:hover {
    opacity: 0.8;
}

.popup__submit {
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #0072b1;
    border: 2px solid #b7fff9;
    text-align: center;
    padding: 40px 36px 60px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.formDel {
    margin: 0;
    padding: 0;
    min-height: 50px;
}

/* -------------------- media max 1230px --------------------  */
@media (max-width: 1230px) {
    #root {
        width: 1230px;
    }

    .column {
        padding: 10px;
        min-width: 180px;
        min-height: 600px;
        margin: 5px;
        margin-right: 10px;
    }

    .task {
        padding: 10px;
        min-width: 20%;
        margin-top: 15px;
    }

    .column__container {
        display: flex;
    }

    .task__delete {
        margin-left: 160px;
    }
}

/* -------------------- media max 990px --------------------  */
@media (max-width: 990px) {
    .column {
        padding: 10px;
        min-height: 600px;
        margin: 5px;
        margin-right: 10px;
        width: 40%;
    }

    .task {
        padding: 10px;
        margin-top: 15px;
    }

    .column__container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }

    .kanban {
        max-width: 990px;
    }

    .task__delete {
        margin-left: 200px;
    }
}

/* -------------------- media max 620px --------------------  */
@media screen and (min-width: 320px) and (max-width: 620px) {
    .column {
        padding: 10px;
        min-width: 90%;
        min-height: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .task {
        padding: 10px;
        min-width: 120px;
        margin-top: 15px;
    }

    .column__container {
        display: flex;
        flex-direction: column;
    }

    .form__container {
        display: grid;
        grid-template-areas:
            'title user'
            'span span'
            'submit submit';
        margin: 0 auto;
    }

    .form {
        margin: 0;
        max-width: 320px;
        justify-content: center;
        margin: 0 auto;
    }

    input {
        width: 80%;
        padding: 10px;
        box-shadow: none;
        justify-content: center;
        text-align: center;
    }

    input::placeholder {
        justify-content: center;
    }

    .form__submit {
        grid-area: submit;
        width: 100%;
        margin: 0 auto;
    }

    .form__error {
       margin-bottom: 10px;
       text-align: center;
    }

    .kanban {
        max-width: 300px;
    }

    .task__delete {
        margin-left: 180px;
    }

    .btn_mobile {
        display: flex;
        margin: 0 auto;
        margin-top: 5px;
        padding: 2px 8px 2px 8px;
    }

    .btn_desktop {
        display: none;
    }

    .popup__close-button {
        width: 20px;
        height: 20px;
        left: 270px;
    }
    .popup__infotooltip {
        width: 282px;
        height: 282px;
        padding: 20px 5px 5px;
    }

    .popup__submit {
        width: 282px;
        height: 250px;
        padding: 20px 5px 5px;
    }

    .popup__feedback {
        width: 100%;
    }

    .popup__question {
        width: 280px;
        margin-top: 50px;
    }

    .popup__delete {
        margin-top: 40px;
    }
}
